body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: #0C81FB;
}

a:hover {
  color: #00CAEF;
}

.layout-area {
  flex-grow: 1;
}

.footer-copyright p {
  padding: 0;
}

.footer-copyright {
  margin: 1rem 0;
}

.header-navigation .navigation-box .header-logo {
  margin: 15px 0;
}

.header-logo img {
  height: 24px;
}

.layout-area .layout-wrapper {
  padding: 24px 0px;
}

.layout-wrapper ul {
  margin-bottom: 30px;
}
