body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-area {
  flex-grow: 1;
}

.footer-copyright p {
  padding: 0;
}

.footer-copyright {
  margin: 1rem 0;
}

.header-logo {
  margin: 15px 0;
}

.header-logo img {
  height: 24px;
}
